<h3>循环</h3>
<ul>
  <li *ngFor="let e of toDoList; index as i; first as isFirst; trackByMethod">
    <span> {{ i }}-{{ e.text }} </span>
    <span *ngIf="isFirst"> default </span>
    <span> {{ e.complete }} </span>
    <span> {{ e.complete | myCompleteFlag }} </span>
    <span> {{ e.complete | myCompleteFlag : true : "zh" }} </span>
  </li>
</ul>

<h3>分支</h3>
<div id="test">
  <ng-template *ngIf="isValid; then content; else other_content">
    here is ignored
  </ng-template>
</div>
<ng-template #content>content here...</ng-template>
<ng-template #other_content>other content here...</ng-template>
<button (click)="toggle()">toggle</button>
<h3>switch</h3>
<div [ngSwitch]="showIndex">
  <div *ngSwitchCase="0">First</div>
  <ng-container *ngSwitchCase="1">Second</ng-container>
  <div *ngSwitchDefault>Default</div>
</div>
<div>
  <button (click)="decrease()">-</button> {{ showIndex }}
  <button (click)="increase()">+</button>
</div>

<div myStress>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi ratione
  quos placeat reiciendis similique voluptatibus voluptas beatae laboriosam
  totam, incidunt nam doloribus deserunt molestiae, ipsum, nobis nemo facere.
  Delectus, cumque.
</div>