<h2>表单 双向绑定</h2>
<label>[(ngModel)]</label>
<input type="text" [(ngModel)]="userName" />
<input type="text" [ngModel]="userName" (ngModelChange)="upperCase($event)" />
<input type="text" [(ngModel)]="userName" (ngModelChange)="upperCase2()" />
<hr />
<p>name:{{ userName }}</p>

<div appMyStressDirective>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi ratione
  quos placeat reiciendis similique voluptatibus voluptas beatae laboriosam
  totam, incidunt nam doloribus deserunt molestiae, ipsum, nobis nemo facere.
  Delectus, cumque.
</div>
